/*CoderGirl, Graded Assignment #4: HTML Me Something
Casey Gardonio-Foat, 10-14-2020
*/

/* 
CSS Reset via Eric Myer:
    http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, header {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

@font-face {
    font-family: Quicksand;
    src: url(./Assignment4/Assignment4Images/Fonts/quicksand_book.otf)
}

@font-face {
    font-family: Quicksand;
    src: url(./Assignment4/Assignment4Images/Fonts/quicksand_bold.otf);
    font-weight: bold
}

@font-face {
    font-family: Quicksand;
    src: url(./Assignment4/Assignment4Images/Fonts/quicksand_book_oblique.otf);
    font-style: oblique
}

@font-face {
    font-family: Quicksand;
    src: url(./Assignment4/Assignment4Images/Fonts/quicksand_bold_oblique.otf);
    font-style: oblique;
    font-weight: bold 
}

@font-face {
    font-family: Parfumerie;
    src: url(./Assignment4/Assignment4Images/Fonts/parfumerie_script_regular.otf)
}

body {
    font-family: Quicksand;
}

header {
    background-image: url(./Assignment4Images/roses_header-01.jpg);
    height: 100%;
    position: center;
}

#logo {
    padding: 25px 200px;
    position: center
}

nav {
    background-color:  #A4DAD7;
    opacity: 0.75;
    padding: 10px 200px
}

li {
    display: inline;
    color: black;
    opacity: 1;
    margin-left: 10px;
    margin-right: 10px
}

article {
    padding: 25px 200px
}

h2 {
    font-size: 30px;
    font-weight: bold;
    margin: 30px 0px 30px;
}

footer {
    background-image: url(./Assignment4Images/roses_footer-01.jpg);
    /*where did this go?!?!?!?*/
    height: 100%;
    position: center;
}

#copyright_info {
    padding: 25px 200px
}

#logo {
    width: 500px
}
/* .photo_divider {
    width: 100%
    max-width: 942px
} */
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}